.products {
  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 25px;

    @media (max-width: 991.98px) {
      grid-template-columns: repeat(8, 1fr);
    }

    @media (max-width: 575.98px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    grid-column: span 4;
  }
}