@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-SemiBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

:root {
    --color-bg: #eaeaea;
    --color-dark: #101010;
    --color-white: #ffffff;
    --color-orange: #ffa542;
    --color-gold: #ffce7f;
    --color-gray: #838383;
    --color-text: #1c1c27;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-bg);
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 30px 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.button-reset {
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1175px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

.section {
    padding: 30px 0;

    &__title {
        margin: 0;
        margin-bottom: 20px;
        color: var(--color-gray);
        font-size: 20px;
        font-weight: 600;
    }
}